# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

backend/uploads/avatars/*
backend/uploads/publications/*
backend/arrancar-proyecto.bat

/frontend/src/assets/*
/frontend-deprecated

# Environment variables
.env*

# Build
dist/
build/


