# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
api-rest/uploads/avatars/*
api-rest/uploads/publications/*

/frontend/src/assets/*
/frontend-deprecated


# Environment variables
.env

# Build
dist/
build/
api-rest/arrancar-proyecto.bat
