@import "tailwindcss";

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

@layer base {
  html {
    font-size: 13px;
    scrollbar-gutter: stable;
  }
}

@media(width <= 40rem) {
  html {
    font-size: 10px;
  }
}

@theme {
  --color-background: oklch(13% 0.028 261.692);
  --color-surface: oklch(21% 0.034 264.665);
  --color-elevated: oklch(30% 0.034 264.665);

  --color-text-primary: oklch(95% 0.002 247.839 / 90%);
  --color-text-secondary: oklch(70.7% 0.022 261.325);
  --color-text-muted: oklch(55.4% 0.046 257.417);

  --color-primary: oklch(50% 0.158 241.966);
  --color-primary-hover: oklch(60.6% 0.16 232.661/90%);
  --color-primary-active: oklch(74.6% 0.16 232.661);

  --color-danger: oklch(0.35 0.141 25.723);
  --color-success: oklch(44.8% 0.119 151.328);

  --color-border-input: oklch(44.6% 0.03 256.802);

  --color-placeholder: oklch(70.7% 0.022 261.325);
}

@layer utilities {
  .scrollbar::-webkit-scrollbar {
    width: 16px;
  }

  .scrollbar::-webkit-scrollbar-track {
    background: transparent;
  }

  .scrollbar::-webkit-scrollbar-thumb {
    background: oklch(30% 0.034 264.665);
    border-radius: 100vh;
    border: 4px solid  oklch(21% 0.034 264.665);
  }

  .scrollbar-dark::-webkit-scrollbar {
    width: 16px;
  }

  .scrollbar-dark::-webkit-scrollbar-thumb {
    background: oklch(30% 0.034 264.665);
    border-radius: 100vh;
    border: 4px solid  oklch(13% 0.028 261.692);
  }
}